
.modal-content {
  background-color: var(--cor-fundo);
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-header {
  background-color: var(--roxo-principal);
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 1rem 1.5rem;
}

.modal-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.btn-close {
  filter: invert(1); 
}

.modal-body {
  padding: 1.5rem;
}

/* Formulários */
.form-label {
  color: #333;
  font-weight: 500;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: var(--cor-branco);
}

.form-control:focus {
  border-color: var(--roxo-principal);
  box-shadow: 0 0 0 0.2rem rgba(106, 132, 237, 0.25);
}


/* Botões */
.btn-secondary {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
}

.btn-secondary:hover {
  background-color: #bbb;
}

.btn-primary {
  background-color: var(--cor-para-botao);
  border: none;
  color: white;
  border-radius: 20px;
  padding: 8px 16px;
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--cor-para-botao);
  border: 1px solid var(--cor-para-botao);
}
