<div class="container">

  <h2>{{ textoTitulo }}</h2>
  <!-- <p class="texto-descricao">{{ textoDescricao }}</p> -->

  <form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="input-group" *ngIf="btnAcao == 'Cadastre-se'">
      <label for="name">Nome</label>
      <input type="name" id="name" formControlName="name"
      [class.input-error]="userForm.get('name')?.invalid && userForm.get('name')?.touched" />
    </div>

    <div class="input-group">
      <label for="email">E-mail</label>
      <input type="email" id="email" formControlName="email" 
      [class.input-error]="userForm.get('email')?.invalid && userForm.get('email')?.touched"/>
    </div>

    <div class="input-group">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" 
      [class.input-error]="userForm.get('password')?.invalid && userForm.get('password')?.touched"
      />
    </div>

    <div class="input-group" *ngIf="btnAcao == 'Cadastre-se'">
      <label for="confirmedPassword">Confirmar Senha</label>
      <input
        type="password"
        id="confirmedPassword"
        formControlName="confirmedPassword"
        [class.input-error]="userForm.get('confirmedPassword')?.invalid && userForm.get('confirmedPassword')?.touched"
      />
    </div>

    <button type="submit" class="btn-acao">{{ btnAcao }}</button>
  </form>
</div>
