
:root {
  --roxo-principal:  #6a84ed;
  --cor-fundo: #f1f5fd;
  --cor-para-botao: #2f97ec;
  --cor-roxo-claro: #f0ebfd;
  --cor-roxo-escuro: #9a89e0;
  --cor-azul-claro: #e9f9f9;
  --cor-branco: #f1f5fa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  display: flex;
}

#page-content-wrapper {
  margin-left: 250px;
  padding: 20px;
  margin-top: 50px;
}

#page-content-wrapper-information {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  max-width: 80%;
  width: 100%;
}

@media (max-width: 992px) {
  #page-content-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper-information {
    margin-left: 70px;
  }
}


