<app-information-travel></app-information-travel>

<div id="page-content-wrapper-information" class="flex-grow-1 p-4">
    <h3 class="mb-4">Itinerário</h3>

    <!-- trasformar em componente reutilizavel-->
    <div *ngFor="let day of days; let i = index" class="itinerary-day border rounded p-3 mb-3">
    <div class="d-flex justify-content-between align-items-center itinerary-header"
      data-bs-toggle="collapse"
      [attr.data-bs-target]="'#collapse' + i"
      [attr.aria-controls]="'collapse' + i"
      [attr.aria-expanded]="false"
      style="cursor: pointer">
      <span class="fw-bold">{{ day.date| date : "EEEE, d MMMM" }}</span>
      <i class="bi bi-chevron-down toggle-icon"></i>
    </div>

    <div class="collapse mt-3" [attr.id]="'collapse' + i">
      <ul class="list-group mb-2">
        <li *ngFor="let activity of getActivitiesByDay(day._id)" class="list-group-item">
          <strong>{{ activity.activity}}</strong><br />
          <small>{{ activity.time}} | Local: {{ activity.location }}</small><br />
          <span>{{ activity.observation }}</span>
        </li>
      </ul>

      <div *ngIf="getActivitiesByDay(day._id).length === 0"
        style="
          color: #33637a;
          background-color: #d9edf7;
          padding: 6px 12px;
          border-radius: 4px;
          font-size: 0.9rem;
          margin: 8px 0;">
        Nenhuma atividade planejada para este dia.
      </div>

      <button
        class="btn btn-atividade btn-sm mt-2"
        type="button"
        (click)="setSelectedDay(day._id)">
        + Adicionar atividade
      </button>
    </div>
  </div>

  <app-modal-add-activity
    *ngIf="isModalOpen"
    [planningId]="selectedDayId"
    (close)="onModalClose()"
    (activityAdded)="onActivityAdded()">
  </app-modal-add-activity>
</div>
 


